{% extends 'core/base.html' %}

{% block content %}
    <div class="container mt-4">
        <h3>Categories List</h3>
        <p>total post available : {{ posts.count }}</p>
        <hr>
        {% for category in categories %}
            <a href="{% url 'category_detail' category.slug %}" style="color: black">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">{{ category.title }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}