{% extends 'core/base.html' %}

{% block content %}
    <header class="p-4 my-4 d-flex flex-column justify-content-center align-items-center text-center" style="height: 200px; background-color: rgb(221, 217, 217);">
        <h1 class="title">Stamps Indonesia Blog</h1>
        <p>read our latest blog about programming and technologies</p>
    </header>

    <div class="row mb-4">
        <h3 style="text-transform: uppercase;">recommended posts</h3>
        <hr>
        {% for post in recommended_posts %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="{{ post.image.url }}" alt="blog image" class="card-img-top" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <p>{{ post.created_at|timesince }}</p>
                        <h3 class="card-title">{{ post.title }}</h3>
                        <p>category: {{ post.category.title }}</p>
                        <div class="dropdown-divider"></div>
                        <div class="card-text">{{ post.intro }}</div>
                    </div>
                    <a class="btn btn-primary" href="{% url 'post_detail' post.category.slug post.slug %}">
                        see details >>>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>


    <div class="row mb-4">
    <h3 style="text-transform: uppercase;">other posts</h3>
    <hr>
    {% for post in default_posts %}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="{{ post.image.url }}" alt="blog image" class="card-img-top" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <p>{{ post.created_at|timesince }}</p>
                    <h3 class="card-title">{{ post.title }}</h3>
                    <p>category: {{ post.category.title }}</p>
                    <div class="dropdown-divider"></div>
                    <div class="card-text">{{ post.intro }}</div>
                </div>
                <a class="btn btn-primary" href="{% url 'post_detail' post.category.slug post.slug %}">
                    see details >>>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}