{% extends 'core/base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

    {% load widget_tweaks %}
    <div class="container mt-4 p-4" style="margin-left: auto; margin-right: auto; width: 100%; background-color: white;">
        {% if post.image %}
          <img src="{{ post.image.url }}" alt="image post" style="background-position: center; background-size: cover; background-repeat: no-repeat; width: 100%; height: 400px; object-fit: cover;">
       {% endif %}
        <p>posted {{ post.created_at|timesince }} ago</p>

        <h1>{{ post.title }}</h1>
        <p><small> Category : {{ post.category }}</small></p>

        <p><strong>{{ post.intro }}</strong></p>
        <p> {{ post.body }}</p>
    </div>

    <h2 class="p-4 mt-2 bg-success text-light">Comments</h2>

    <form method="post" class="mb-4">
        {% csrf_token %}

        {% for field in form %}
            <div class="bg-secondary p-2 text-white">
            {{ field.label }}
            </div>
            {{ field|add_class:'form-control mb-2' }}
        {% endfor %}

        <div class="form my-4">
             <button class="btn btn-success">Submit comment</button>
        </div>
    </form>

    {% for comment in post.comments.all %}
        <article class="card my-4">
            <div class="card-body">
                <strong>{{ comment.name }}</strong> <small>{{ comment.created_at|timesince }} ago</small><br>
                {{ comment.body }}
            </div>
        </article>
    {% endfor %}
{% endblock %}